:root[data-theme='dark'] {
              --theme-bg-default: 23 23 23;
  --theme-bg-subtle: 50 50 50;
  --theme-bg-muted: 117 117 117;
  --theme-fg-default: 255 255 255;
  --theme-fg-on-accent: 255 255 255;
  --theme-fg-muted: 238 238 238;
  --theme-fg-subtle: 158 158 158;
  --theme-accent-default: 245 158 11;
  --theme-accent-subtle: 120 53 15;
        }