:root {
              --colors-black: 23 23 23;
  --colors-white: 255 255 255;
  --colors-red-50: 255 245 247;
  --colors-red-100: 252 232 236;
  --colors-red-200: 249 208 217;
  --colors-red-300: 242 162 179;
  --colors-red-400: 233 92 123;
  --colors-red-500: 223 22 66;
  --colors-red-600: 156 15 46;
  --colors-red-700: 89 9 26;
  --colors-red-800: 45 4 13;
  --colors-red-900: 22 2 7;
  --colors-red-950: 16 1 5;
  --colors-blue-50: 236 238 254;
  --colors-blue-100: 216 221 253;
  --colors-blue-200: 177 186 251;
  --colors-blue-300: 139 152 249;
  --colors-blue-400: 100 117 247;
  --colors-blue-500: 61 83 245;
  --colors-blue-600: 49 66 196;
  --colors-blue-700: 37 50 147;
  --colors-blue-800: 24 33 98;
  --colors-blue-900: 12 17 49;
  --colors-blue-950: 6 8 24;
  --colors-grey-50: 252 252 252;
  --colors-grey-100: 245 245 245;
  --colors-grey-200: 238 238 238;
  --colors-grey-300: 224 224 224;
  --colors-grey-400: 189 189 189;
  --colors-grey-500: 158 158 158;
  --colors-grey-600: 117 117 117;
  --colors-grey-700: 97 97 97;
  --colors-grey-800: 66 66 66;
  --colors-grey-900: 50 50 50;
  --colors-grey-950: 33 33 33;
  --colors-yellow-50: 255 251 235;
  --colors-yellow-100: 254 243 199;
  --colors-yellow-200: 253 230 138;
  --colors-yellow-300: 252 211 77;
  --colors-yellow-400: 251 191 36;
  --colors-yellow-500: 245 158 11;
  --colors-yellow-600: 217 119 6;
  --colors-yellow-700: 180 83 9;
  --colors-yellow-800: 146 64 14;
  --colors-yellow-900: 120 53 15;
        }