:root[data-theme='light'] {
              --theme-bg-default: 255 255 255;
  --theme-bg-subtle: 245 245 245;
  --theme-bg-muted: 224 224 224;
  --theme-fg-default: 23 23 23;
  --theme-fg-on-accent: 255 255 255;
  --theme-fg-muted: 97 97 97;
  --theme-fg-subtle: 158 158 158;
  --theme-accent-default: 223 22 66;
  --theme-accent-subtle: 252 232 236;
        }