@media (--OSdark) {
                :root {
                    --theme-bg-default: 23 23 23;
--theme-bg-subtle: 17 24 39;
--theme-bg-muted: 75 85 99;
--theme-fg-default: 255 255 255;
--theme-fg-on-accent: 255 255 255;
--theme-fg-muted: 229 231 235;
--theme-fg-subtle: 107 114 128;
--theme-accent-default: 6 182 212;
--theme-accent-subtle: 22 78 99;
                }
            }