:root {
            --theme-surface-1: #16191d;
--theme-surface-2: #343a40;
--theme-surface-3: #868e96;
--theme-text-1: #f8f9fa;
--theme-text-2: #e9ecef;
--theme-text-3: #ced4da;
--theme-text-on-accent: #f8f9fa;
--theme-accent-1: #3bc9db;
--theme-accent-2: #15aabf;
--gradient-green: linear-gradient(165deg, #20c997 0%, #087f5b 100%);
--gradient-purple: linear-gradient(165deg, #845ef7 0%, #5f3dc4 100%);
--gradient-blue: linear-gradient(165deg, #22b8cf 0%, #0b7285 100%);
        }