:root {
                --colors-black: 23 23 23;
--colors-white: 255 255 255;
--colors-purple-50: 250 245 255;
--colors-purple-100: 243 232 255;
--colors-purple-200: 233 213 255;
--colors-purple-300: 216 180 254;
--colors-purple-400: 192 132 252;
--colors-purple-500: 168 85 247;
--colors-purple-600: 147 51 234;
--colors-purple-700: 126 34 206;
--colors-purple-800: 107 33 168;
--colors-purple-900: 88 28 135;
--colors-green-50: 240 253 244;
--colors-green-100: 220 252 231;
--colors-green-200: 187 247 208;
--colors-green-300: 134 239 172;
--colors-green-400: 74 222 128;
--colors-green-500: 34 197 94;
--colors-green-600: 22 163 74;
--colors-green-700: 21 128 61;
--colors-green-800: 22 101 52;
--colors-green-900: 20 83 45;
--colors-grey-50: 249 250 251;
--colors-grey-100: 243 244 246;
--colors-grey-200: 229 231 235;
--colors-grey-300: 209 213 219;
--colors-grey-400: 156 163 175;
--colors-grey-500: 107 114 128;
--colors-grey-600: 75 85 99;
--colors-grey-700: 55 65 81;
--colors-grey-800: 31 41 55;
--colors-grey-900: 17 24 39;
--colors-blue-50: 236 254 255;
--colors-blue-100: 207 250 254;
--colors-blue-200: 165 243 252;
--colors-blue-300: 103 232 249;
--colors-blue-400: 34 211 238;
--colors-blue-500: 6 182 212;
--colors-blue-600: 8 145 178;
--colors-blue-700: 14 116 144;
--colors-blue-800: 21 94 117;
--colors-blue-900: 22 78 99;
--spaces-1: 0.5rem;
--spaces-2: 1rem;
--spaces-3: 1.5rem;
--spaces-4: 2rem;
--spaces-5: 2.5rem;
--spaces-6: 3rem;
--spaces-header-height: 5.5rem;
--spaces-footer-height: 4.5rem;
--radii-none: 0px;
--radii-sm: 0.5rem;
--radii-md: 1rem;
--radii-lg: 1.5rem;
--radii-full: 99999px;
--font-weights-regular: 400;
--font-weights-medium: 500;
--font-weights-bold: 700;
--font-sans: "Atkinson Hyperlegible", ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
--font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
--font-mono: "Space Mono", ui-monospace, SFMono-Regular, Dank Mono, Operator Mono, Inconsolata, Fira Mono, ui-monospace, SF Mono, Monaco, Droid Sans Mono, Source Code Pro, monospace;
            }