:root {
            --color-purple-50: 250 245 255;
--color-purple-100: 243 232 255;
--color-purple-200: 233 213 255;
--color-purple-300: 216 180 254;
--color-purple-400: 192 132 252;
--color-purple-500: 168 85 247;
--color-purple-600: 147 51 234;
--color-purple-700: 126 34 206;
--color-purple-800: 107 33 168;
--color-purple-900: 88 28 135;
--color-green-50: 240 253 244;
--color-green-100: 220 252 231;
--color-green-200: 187 247 208;
--color-green-300: 134 239 172;
--color-green-400: 74 222 128;
--color-green-500: 34 197 94;
--color-green-600: 22 163 74;
--color-green-700: 21 128 61;
--color-green-800: 22 101 52;
--color-green-900: 20 83 45;
--color-neutral-50: 249 250 251;
--color-neutral-100: 243 244 246;
--color-neutral-200: 229 231 235;
--color-neutral-300: 209 213 219;
--color-neutral-400: 156 163 175;
--color-neutral-500: 107 114 128;
--color-neutral-600: 75 85 99;
--color-neutral-700: 55 65 81;
--color-neutral-800: 31 41 55;
--color-neutral-900: 17 24 39;
--color-blue-50: 236 254 255;
--color-blue-100: 207 250 254;
--color-blue-200: 165 243 252;
--color-blue-300: 103 232 249;
--color-blue-400: 34 211 238;
--color-blue-500: 6 182 212;
--color-blue-600: 8 145 178;
--color-blue-700: 14 116 144;
--color-blue-800: 21 94 117;
--color-blue-900: 22 78 99;
--size-1: 0.25rem;
--size-2: 0.5rem;
--size-3: 1rem;
--size-4: 1.25rem;
--size-5: 1.5rem;
--size-6: 1.75rem;
--size-7: 2rem;
--size-8: 3rem;
--size-9: 4rem;
--size-10: 5rem;
--size-11: 7.5rem;
--size-12: 10rem;
--size-13: 15rem;
--size-14: 20rem;
--size-15: 30rem;
--size-xxl: 1920px;
--size-xl: 1440px;
--size-lg: 1024px;
--size-md: 768px;
--size-sm: 480px;
--size-xs: 360px;
--size-xxs: 240px;
--size-header-3: 35ch;
--size-header-2: 25ch;
--size-header-1: 20ch;
--size-content-3: 60ch;
--size-content-2: 45ch;
--size-content-1: 20ch;
--size-fluid-10: clamp(20rem, 40vw, 30rem);
--size-fluid-9: clamp(15rem, 30vw, 20rem);
--size-fluid-8: clamp(10rem, 20vw, 15rem);
--size-fluid-7: clamp(7.5rem, 10vw, 10rem);
--size-fluid-6: clamp(5rem, 7vw, 7.5rem);
--size-fluid-5: clamp(4rem, 5vw, 5rem);
--size-fluid-4: clamp(2rem, 4vw, 3rem);
--size-fluid-3: clamp(1.5rem, 3vw, 2rem);
--size-fluid-2: clamp(1rem, 2vw, 1.5rem);
--size-fluid-1: clamp(.5rem, 1vw, 1rem);
--size-00: -0.25rem;
--size-000: -0.5rem;
--radius-1: 2px;
--radius-2: 5px;
--radius-3: 1rem;
--radius-4: 2rem;
--radius-5: 4rem;
--radius-6: 8rem;
--radius-conditional-6: clamp(0px, calc(100vw - 100%) * 1e5, var(--radius-6));
--radius-conditional-5: clamp(0px, calc(100vw - 100%) * 1e5, var(--radius-5));
--radius-conditional-4: clamp(0px, calc(100vw - 100%) * 1e5, var(--radius-4));
--radius-conditional-3: clamp(0px, calc(100vw - 100%) * 1e5, var(--radius-3));
--radius-conditional-2: clamp(0px, calc(100vw - 100%) * 1e5, var(--radius-2));
--radius-conditional-1: clamp(0px, calc(100vw - 100%) * 1e5, var(--radius-1));
--radius-blob-5: 49% 51% 48% 52% / 57% 44% 56% 43%;
--radius-blob-4: 63% 37% 37% 63% / 43% 37% 63% 57%;
--radius-blob-3: 37% 63% 56% 44% / 49% 56% 44% 51%;
--radius-blob-2: 53% 47% 34% 66% / 63% 46% 54% 37%;
--radius-blob-1: 30% 70% 70% 30% / 53% 30% 70% 47%;
--radius-round: 100000px;
--font-weight-regular: 400;
--font-weight-medium: 500;
--font-weight-bold: 700;
--font-display: "Space Grotesk", "Atkinson Hyperlegible", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
--font-sans: "Atkinson Hyperlegible", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
--font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
--font-mono: "Cascadia Code", ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, Fira Mono, Source Code Pro, monospace;
        }