:root {
            --theme-surface-1: #e9ecef;
--theme-surface-2: #ced4da;
--theme-surface-3: #868e96;
--theme-text-1: #030507;
--theme-text-2: #16191d;
--theme-text-3: #343a40;
--theme-text-on-accent: #f8f9fa;
--theme-accent-1: #7950f2;
--theme-accent-2: #9775fa;
--gradient-green: linear-gradient(165deg, #96f2d7 0%, #12b886 100%);
--gradient-purple: linear-gradient(165deg, #d0bfff 0%, #7950f2 100%);
--gradient-blue: linear-gradient(165deg, #99e9f2 0%, #15aabf 100%);
        }