.line {
    height: 1.4;
    background: var(--theme-surface-2);
}

a:not(.overlay) {
    scale: 1;
    transition: scale 0.375s var(--ease-squish-4),
        background 0.2s var(--ease-in-out-4);

    &:active {
        scale: 0.95;
    }
}
.button {
    color: inherit;
    text-decoration: none;
    text-shadow: none;

    border-radius: var(--radius-2);
    font-family: var(--font-display);
    text-transform: uppercase;
    letter-spacing: var(--font-letterspacing-3);
    line-height: var(--font-lineheight-2);

    padding-block: var(--size-2);
    padding-inline: var(--size-3);

    display: flex;
    flex-direction: row;
    gap: var(--size-2);
    justify-content: center;
    align-items: center;

    &:has(svg ~ span) {
        padding: var(--size-2);

        > span {
            padding-inline-end: var(--size-1);
        }
    }
    &:has(span ~ svg) {
        padding: var(--size-2);

        > span {
            padding-inline-start: var(--size-1);
        }
    }

    --gradient: linear-gradient(
        135deg,
        var(--color-purple-5),
        var(--color-blue-5),
        var(--color-green-5)
    );
    &:hover {
        --gradient: linear-gradient(
            135deg,
            var(--color-purple-4),
            var(--color-blue-4),
            var(--color-green-4)
        );
        background-color: var(--surface-2);
    }

    &.size-large {
        padding-block: var(--size-3);
        padding-inline: var(--size-7);
        gap: var(--size-3);

        font-size: x-large;
        font-weight: var(--font-weight-7);
        text-transform: uppercase;
    }

    &.variant-primary:not(.outlined) {
        background: var(--gradient);
        color: var(--theme-text-on-accent);
        border: none;
    }
    &.variant-black {
        background: var(--theme-text-1);
        color: var(--theme-surface-1);
        border: none;

        &:hover {
            background: var(--theme-text-2);
        }
    }

    &.outlined.variant-primary {
        color: var(--theme-text-1);
        background: none;
        border: none;
    }
    &.outlined {
        position: relative;
        margin: var(--size-2);

        &:before {
            content: "";
            display: block;
            padding: var(--size-2);
            position: absolute;
            inset: calc(var(--size-2) * -1);
            border-radius: inherit;
            background: var(--gradient);
            mask: linear-gradient(black, black) content-box,
                linear-gradient(black, black);
            mask-composite: exclude;
            z-index: -1;
        }
    }
}

img {
    object-fit: cover;

    &.fill-container {
        width: 100%;
        height: 100%;
    }
}
