.line {
    height: 1.4;
    background: var(--theme-surface-2);
}

a:not(.overlay) {
    scale: 1;
    transition: scale 0.375s cubic-bezier(0.43, 0.13, 0.23, 0.96),
        background 0.2s cubic-bezier(0.33, 1, 0.68, 1);

    &:active {
        scale: 0.95;
    }
}
.button {
    cursor: pointer;
    color: inherit;
    border-radius: var(--radius-2);

    --gradient: linear-gradient(
        135deg,
        rgb(var(--color-purple-400)),
        rgb(var(--color-blue-400)),
        rgb(var(--color-green-400))
    );
    &:hover {
        --gradient: linear-gradient(
            135deg,
            rgb(var(--color-purple-300)),
            rgb(var(--color-blue-300)),
            rgb(var(--color-green-300))
        );
    }

    &.size-regular {
        padding-block: var(--size-2);
        padding-inline: var(--size-3);
    }
    &.size-large {
        padding-block: var(--size-3);
        padding-inline: var(--size-5);

        font-size: x-large;
        font-weight: var(--font-weight-7);
        text-transform: uppercase;
    }

    &.variant-primary {
        background: var(--gradient);
        color: var(--theme-text-on-accent);
    }
    &.variant-black {
        color: var(--theme-surface-2);
        background: var(--color-text-1);

        &:hover {
            background: var(--theme-surface-3);
        }
    }
    &.variant-primary-outlined {
        color: var(--theme-surface-1);
        background: none;

        &:hover {
            background: none;
        }
    }

    &.outlined {
        position: relative;
        margin: var(--size-2);

        &:before {
            content: "";
            display: block;
            padding: var(--size-2);
            position: absolute;
            inset: calc(var(--size-2) * -1);
            border-radius: inherit;
            background: var(--gradient);
            mask: linear-gradient(black, black) content-box,
                linear-gradient(black, black);
            mask-composite: exclude;
            z-index: -1;
        }
    }
}

img {
    object-fit: cover;

    &.fill-container {
        width: 100%;
        height: 100%;
    }
}
