@import "./open-color.scss";

:root {
    // #a4f755

    // MARK: colors
    --colors-purple50: 270 100% 98%;
    --colors-purple100: 269 100% 95%;
    --colors-purple200: 269 100% 92%;
    --colors-purple300: 269 97% 85%;
    --colors-purple400: 270 95% 75%;
    --colors-purple500: 271 91% 65%;
    --colors-purple600: 271 81% 56%;
    --colors-purple700: 272 72% 47%;
    --colors-purple800: 273 67% 39%;
    --colors-purple900: 274 66% 32%;
    --colors-green50: 138 76% 97%;
    --colors-green100: 141 84% 93%;
    --colors-green200: 141 79% 85%;
    --colors-green300: 142 77% 73%;
    --colors-green400: 142 69% 58%;
    --colors-green500: 142 71% 45%;
    --colors-green600: 142 76% 36%;
    --colors-green700: 142 72% 29%;
    --colors-green800: 143 66% 24%;
    --colors-green900: 144 61% 20%;
    --colors-blue50: 183 100% 96%;
    --colors-blue100: 185 96% 90%;
    --colors-blue200: 186 94% 82%;
    --colors-blue300: 187 92% 69%;
    --colors-blue400: 188 86% 53%;
    --colors-blue500: 189 94% 43%;
    --colors-blue600: 192 91% 36%;
    --colors-blue700: 193 82% 31%;
    --colors-blue800: 194 70% 27%;
    --colors-blue900: 196 64% 24%;
    --colors-gray50: 210 20% 98%;
    --colors-gray100: 220 14% 96%;
    --colors-gray200: 220 13% 91%;
    --colors-gray300: 216 12% 84%;
    --colors-gray400: 218 11% 65%;
    --colors-gray500: 220 9% 46%;
    --colors-gray600: 215 14% 34%;
    --colors-gray700: 217 19% 27%;
    --colors-gray800: 215 28% 17%;
    --colors-gray900: 221 39% 11%;

    // MARK: space
    --spaces-1: 0.5rem;
    --spaces-2: 1rem;
    --spaces-3: 1.5rem;
    --spaces-4: 2rem;
    --spaces-5: 2.5rem;
    --spaces-6: 3rem;

    --spaces-headerHeight: 5.5rem;
    --spaces-footerHeight: 4.5rem;

    // MARK: radii
    --radii-sm: 0.5rem;
    --radii-md: 1rem;
    --radii-lg: 1.5rem;
    --radii-full: 99999px;

    // MARK: fonts
    --fonts-display: Space Mono, -apple-system, BlinkMacSystemFont, Segoe UI,
        Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji,
        Segoe UI Symbol;
    --fonts-text: Inter, -apple-system, BlinkMacSystemFont, Segoe UI,
        Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji,
        Segoe UI Symbol;
    --fonts-mono: Space Mono, monospace;
    --fonts-dyslexic: -apple-system, Apple Color Emoji, Segoe UI Emoji,
        Segoe UI Symbol;

    // MARK: fontSizes

    // MARK: fontWeights
    --fontWeights-regular: 400;
    --fontWeights-medium: 500;
    --fontWeights-bold: 700;

    // MARK: media
    --media-sm: 640px;
    --media-md: 960px;
    --media-lg: 1280px;
}

body {
    --colors-primary: var(--colors-purple300);
    --colors-primaryDark: var(--colors-purple500);
    --colors-textOnPrimary: var(--colors-gray100);
    --colors-displayOnPrimary: var(--colors-gray50);
    --colors-bg: var(--colors-gray50);
    --colors-textOnBg: var(--colors-gray800);
    --colors-displayOnBg: var(--colors-gray900);
}

@media only screen and (prefers-color-scheme: dark) {
    body {
        --colors-primary: var(--colors-purple600);
        --colors-primaryDark: var(--colors-purple400);
        --colors-textOnPrimary: var(--colors-gray100);
        --colors-displayOnPrimary: var(--colors-gray50);
        --colors-bg: var(--colors-gray900);
        --colors-textOnBg: var(--colors-gray200);
        --colors-displayOnBg: var(--colors-gray300);
    }
}
