---
import { useSanityClient } from "astro-sanity";
import i18next, { changeLanguage } from "i18next";
import { notFoundQuery } from "../../lib/queries";
import type { NotFound } from "../../lib/types";
import Footer from "../components/Footer.astro";
import MainHead from "../components/MainHead.astro";

changeLanguage("en");

const notFound: NotFound = await useSanityClient().fetch(notFoundQuery, {
    locale: i18next.language,
});
---

<html lang="en">
    <head>
        <MainHead seo={notFound.seo} />
        <style>
            .wrapper {
                margin-top: 2em;
                margin-bottom: 2em;
            }
        </style>
    </head>
    <body>
        <div class="wrapper">
            <h1>Page Not Found</h1>
            <p>Not found</p>
        </div>
        <Footer />
    </body>
</html>
