---
import { astroI18n } from "astro-i18n";
import { useSanityClient } from "astro-sanity";
import { notFoundQuery } from "../../lib/queries";
import type { NotFound } from "../../lib/types";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import MainLayout from "../layouts/main.astro";

astroI18n.init(Astro);

const notFound: NotFound = await useSanityClient().fetch(notFoundQuery, {
    locale: astroI18n.langCode,
});
---

<MainLayout seo={notFound.seo}>
    <main>
        <Nav />

        <div class="content-wrapper">
            <h1>{notFound.title}</h1>
            <p>{notFound.description}</p>
        </div>

        <Footer />
    </main>
</MainLayout>

<style lang="scss">
    @import "open-props/media";

    main {
        min-height: 100vh;
        margin-inline: auto;
        padding: var(--size-3);

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: var(--size-8);

        > :global(*) {
            width: 100%;
            max-width: 1024px;
        }

        .content-wrapper {
            flex: 1;
            padding-block: var(--size-10);
        }
    }
</style>
