---
import { useSanityClient } from "astro-sanity";
import i18next, { changeLanguage } from "i18next";
import { aboutQuery } from "../../lib/queries";
import type { About } from "../../lib/types";
import Footer from "../components/Footer.astro";
import MainLayout from "../layouts/main.astro";

changeLanguage("en");

const about: About = await useSanityClient().fetch(aboutQuery, {
    locale: i18next.language,
});
---

<MainLayout seo={about.seo}>
    <main>
        <div class="content-wrapper">
            <h1>{about.title}</h1>
            <p>{about.description}</p>
        </div>

        <Footer />
    </main>
</MainLayout>

<style lang="scss">
    @import "open-props/media";

    main {
        height: 100vh;
        margin-inline: auto;
        padding-block: var(--size-3);
        padding-inline: var(--size-2);

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: var(--size-8);

        > :global(*) {
            width: 100%;
            max-width: 1024px;
        }

        .content-wrapper {
            flex: 1;
        }
    }

    @media (--md-n-above) {
        main {
            padding-inline: var(--size-3);
        }
    }
</style>
