---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";
import { projectsQuery } from "../../lib/queries";
import type { Project } from "../../lib/types";

// const projects = (await Astro.glob("./project/**/*.md"))
//     .filter(({ frontmatter }) => !!frontmatter.publishDate)
//     .sort(
//         (a, b) =>
//             new Date(b.frontmatter.publishDate).valueOf() -
//             new Date(a.frontmatter.publishDate).valueOf()
//     );

const params = new URLSearchParams({
    query: projectsQuery,
    $locale: '"en"',
});
const url =
    `https://${
        import.meta.env.SANITY_PROJECT_ID
    }.api.sanity.io/v2021-10-21/data/query/${import.meta.env.SANITY_DATASET}?` +
    params;
const response = await fetch(url);
const { result: projects } = await response.json();
---

<html lang="en">
    <head>
        <MainHead
            title="All Projects | Jeanine White"
            description="Learn about Jeanine White's most recent projects"
        />
        <style>
            .grid {
                display: grid;
                grid-gap: 3rem;
            }
            .title {
                margin-top: 2rem;
                margin-bottom: 2rem;
            }
        </style>
    </head>
    <body>
        <Nav />
        <div class="wrapper">
            <h1 class="title">All Projects</h1>
            <div class="grid">
                {
                    projects &&
                        projects.map((project: Project) => (
                            <PortfolioPreview project={project} />
                        ))
                }
            </div>
        </div>
        <Footer />
    </body>
</html>
