---
import type { s } from "@sanity-typed/schema-builder";
import { PortableText } from "astro-portabletext";
import type { PortableTextProps } from "astro-portabletext/types";
import { mergeComponents } from "astro-portabletext/utils";
import type { blockContent } from "../../schemas/blockContent";

import QuoteBlock from "./blocks/BlockQuote.astro";
import CodeBlock from "./blocks/Code.astro";
import DividerBlock from "./blocks/Divider.astro";
import ImageBlock from "./blocks/Image.astro";
import LinkBlock from "./blocks/Link.astro";
import PrototypeBlock from "./blocks/Prototype.astro";

export interface Props {
    value?: s.infer<typeof blockContent>;
    components?: PortableTextProps["components"];
}

const { value, components: overrideComponents = {} } = Astro.props;

const components = mergeComponents(
    {
        type: {
            image: ImageBlock,
            code: CodeBlock,
            prototype: PrototypeBlock,
            divider: DividerBlock,
        },
        block: {
            blockquote: QuoteBlock,
        },
        list: {},
        mark: {
            link: LinkBlock,
        },
    },
    overrideComponents
);
---

<section>
    <DividerBlock />
    {value && <PortableText value={value} components={components} />}
</section>

<style lang="scss">
    @import "open-props/media";

    section {
        max-inline-size: var(--size-content-3);
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--size-5);

        :global(h2, h3, h4, h5, h6) {
            max-inline-size: unset;
        }
        :global(figcaption) {
            color: var(--theme-text-3);
        }

        > :global(*) {
            width: 100%;
        }
        :global(iframe) {
            border: 1px solid rgba(0, 0, 0, 0.1);
        }
        :global(:is(img, iframe)) {
            width: 100%;
            aspect-ratio: 5/6;
            border-radius: var(--radius-2);
            overflow: hidden;
            object-fit: cover;
        }
    }

    @media (--md-n-above) {
        section :global(:is(img, iframe)) {
            aspect-ratio: 3/2;
        }
    }
</style>
