---
import { PortableText } from "astro-portabletext";
import type { PortableTextProps } from "astro-portabletext/types";
import { mergeComponents } from "astro-portabletext/utils";

import QuoteBlock from "./blocks/BlockQuote.astro";
import CodeBlock from "./blocks/Code.astro";
import ImageBlock from "./blocks/Image.astro";
import LinkBlock from "./blocks/Link.astro";
import PrototypeBlock from "./blocks/Prototype.astro";

export interface Props {
    value: PortableTextProps["value"];
    components?: PortableTextProps["components"];
}

const { value, components: overrideComponents = {} } = Astro.props;

const components = mergeComponents(
    {
        type: {
            image: ImageBlock,
            code: CodeBlock,
            prototype: PrototypeBlock,
        },
        block: {
            blockquote: QuoteBlock,
        },
        list: {},
        mark: {
            link: LinkBlock,
        },
    },
    overrideComponents
);
---

<section>
    <PortableText value={value} components={components} />
</section>
