---
import Social from "./Social.astro";

const currentYear = new Date().getFullYear();
---

<footer>
    <aside>
        <Social />
        <ul>
            <li>
                &copy; Sebastiaan Benjamins, {currentYear}
            </li>
        </ul>
    </aside>
</footer>

<style lang="scss">
    @import "open-props/media";

    footer {
        padding-block: var(--size-3);
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--text-2);

        & > * {
            width: 100%;
            max-width: 1024px;
        }
    }

    aside {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--size-7);
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        max-width: 30%;
        position: relative;
        align-items: center;
        gap: var(--size-2);

        li {
            max-width: 100%;
            padding: 0;

            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: var(--size-2);

            & > span {
                font-weight: var(--font-weight-7);
                text-transform: uppercase;
            }
        }
    }

    @media (--md-n-below) {
        ul {
            max-width: 50%;
        }
    }
</style>
