---
import { getDataEntryById, getEntryBySlug } from "astro:content";
import Social from "./Social.astro";
import { defaultLocale, type Locale } from "../i18n/ui";

const locale = (Astro.params.locale as Locale) ?? defaultLocale;

const currentYear = new Date().getFullYear();

const page = await getDataEntryById("footer", locale);
---

<footer>
    <aside>
        <Social links={page.data.links} />
        <ul>
            <li>
                &copy; {page.data.title}, {currentYear}
            </li>
        </ul>
    </aside>
</footer>

<style lang="scss">
    footer {
        padding-block: var(--size-3);
        display: flex;
        justify-content: center;
        align-items: center;

        & > * {
            width: 100%;
            max-inline-size: var(--size-lg);
        }
    }

    aside {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: var(--size-7);
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    @media (--md-n-above) {
        aside {
            flex-direction: row;

            ul {
                max-width: 30%;
            }
        }
    }
</style>
