---
import SpotifyPlayer from "./SpotifyPlayer.astro";

const currentYear = new Date().getFullYear();
---

<footer>
    <footer>
        <aside>
            <ul role="list">
                <li role="listitem">
                    &copy; Sebastiaan Benjamins, {currentYear}
                </li>
            </ul>
            <ul role="list">
                <li role="listitem">
                    <SpotifyPlayer />
                </li>
                {/* FIXME: Move this */}
                <!-- <li role="listitem">
                    <LanguageSwitcher
                        locale={locale}
                        onLocaleChange={handleLocaleChange}
                    />
                </li> -->
            </ul>
        </aside>
    </footer>
</footer>
