---
import SpotifyPlayer from "./SpotifyPlayer";

const currentYear = new Date().getFullYear();
---

<footer class="footer grayscale">
    <aside class="aside">
        <ul class="ul side-left" role="list">
            <li class="li" role="listitem">
                &copy; Sebastiaan Benjamins, {currentYear}
            </li>
        </ul>
        <ul class="ul side-right" role="list">
            <li class="li" role="listitem">
                <SpotifyPlayer client:visible />
            </li>
            {/* FIXME: Move this */}
            <!-- <li class="li" role="listitem">
                    <LanguageSwitcher
                        locale={locale}
                        onLocaleChange={handleLocaleChange}
                    />
                </li> -->
        </ul>
    </aside>
</footer>

<style lang="scss">
    .footer {
        width: 100vw;
        padding-block: var(--spaces-2);
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.7;

        & > * {
            width: 100%;
            max-width: 1024px;
        }
    }

    .aside {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        max-width: 30%;
        position: relative;
        align-items: center;
        gap: var(--spaces-2);

        &.side-left {
            justify-content: flex-start;
        }
        &.side-right {
            justify-content: flex-end;
        }
    }

    .li {
        max-width: 100%;

        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--spaces-1);

        & > span {
            font-family: var(--fonts-display);
            font-weight: var(--fontWeights-bold);
            text-transform: uppercase;
        }
    }
</style>
