---
import { astroI18n } from "astro-i18n";
import { useSanityClient } from "astro-sanity";
import { footerQuery } from "../../lib/queries";
import type { Footer } from "../../lib/types";
import Social from "./Social.astro";

astroI18n.init(Astro);

const currentYear = new Date().getFullYear();

const footer: Footer = await useSanityClient().fetch(footerQuery, {
    locale: astroI18n.langCode,
});
---

<footer>
    <aside>
        <Social links={footer.links} />
        <ul>
            <li>
                &copy; {footer.title}, {currentYear}
            </li>
        </ul>
    </aside>
</footer>

<style lang="scss">
    @import "open-props/media";

    footer {
        padding-block: var(--size-3);
        display: flex;
        justify-content: center;
        align-items: center;

        & > * {
            width: 100%;
            max-width: 1024px;
        }
    }

    aside {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: var(--size-7);
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    @media (--md-n-above) {
        aside {
            flex-direction: row;

            ul {
                max-width: 30%;
            }
        }
    }
</style>
