---
import type { Home } from "../../lib/types";

export interface Props {
    homepage: Home;
}
const { homepage } = Astro.props;
---

<blur-background role="none">
    <header>
        <h1>{homepage.title}</h1>
        <p>{homepage.description}</p>
    </header>

    <svg
        class="svg"
        viewBox="0 0 1384 786"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
    >
        <image
            href="/images/headshot.webp"
            x="769"
            y="0"
            width={756}
            height={1133}
            clip-path="url(#clipHeadshot)"
        />
        <defs>
            <clipPath id="clipHeadshot">
                <rect
                    style={{ rx: "var(--radii-md)" }}
                    width="1384"
                    height="786"
                    fill="white"></rect>
            </clipPath>
        </defs>
    </svg>
</blur-background>

<style lang="scss">
    blur-background {
        display: block;

        box-sizing: border-box;
        background-clip: padding-box;

        --border-size: 6px;
        border: var(--border-size) solid rgb(0 0 0 / 10%);
        border-radius: var(--radii-md);

        --cursor-y: 0.7;
        --cursor-x: 0.7;

        &:before {
            content: "";
            display: block;
            width: calc(100% + var(--border-size) * 2);
            height: calc(100% + var(--border-size) * 2);
            position: absolute;
            inset: calc(var(--border-size) * -1);
            z-index: -1;

            border-radius: var(--radii-md);
            overflow: hidden;

            will-change: background, opacity;
            transition: opacity 600ms ease 0s;
            background: radial-gradient(
                    circle farthest-side at calc((var(--cursor-x) + 0.2) * 100%)
                        calc((var(--cursor-y) - 0.1) * 100%),
                    rgb(var(--colors-green-200)) 0%,
                    transparent 60%
                ),
                radial-gradient(
                    circle farthest-side at calc((var(--cursor-x) - 0.3) * 100%)
                        calc((var(--cursor-y) + 0.1) * 100%),
                    rgb(var(--colors-purple-300)) 0%,
                    transparent 60%
                ),
                radial-gradient(
                    circle farthest-side at calc((var(--cursor-x) - 0.1) * 100%)
                        calc((var(--cursor-y) + 0.1) * 100%),
                    rgb(var(--colors-blue-300)) 0%,
                    transparent 60%
                );
        }
    }

    header {
        position: absolute;
        bottom: var(--spaces-3);
        left: var(--spaces-3);
        max-width: 60%;
        display: flex;
        flex-direction: column;
        gap: var(--spaces-2);

        h1 {
            margin: 0;
            font-size: 5rem;
            line-height: 1.1;
        }

        p {
            margin: 0;
            font-size: 1.25rem;
        }
    }

    .svg {
        position: absolute;
        inset-inline: 0;
        inset-block-start: -6.75%; // It is slightly taller to accommodate the hair
        inset-block-end: 0;
        z-index: -1;
    }

    @media (--lg-n-below) {
        header {
            max-width: 65%;
            h1 {
                font-size: 3.5rem;
            }
            p {
                font-size: 1.1rem;
            }
        }
    }

    @media (--md-n-below) {
        header {
            max-width: 70%;

            h1 {
                font-size: 2.5rem;
            }
            p {
                font-size: 1.1rem;
            }
        }
    }
</style>
