---
import { Icon } from "astro-icon/components";
import { defaultLocale, type Locale } from "../i18n/ui";
import { useTranslations } from "../i18n/utils";

const locale = (Astro.params.locale as Locale) ?? defaultLocale;

const t = useTranslations(locale);
---

<nav transition:name="nav">
    <button
        is="back-button"
        class="button button-blur"
        title={t("ui.back-title")}
    >
        <Icon name="ph:caret-left-bold" aria-hidden />
        <span>{t("ui.back")}</span>
    </button>

    <script src="../../lib/button-component.ts"></script>
</nav>

<style lang="postcss">
    nav {
        position: fixed;
        padding: var(--size-3);
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
</style>
