---
import { localizePath } from "astro-i18next";
import { Icon } from "astro-icon";
---

<nav>
    <a class="button" title="Go back to the Home page" href={localizePath("/")}>
        <Icon
            name="ph:caret-left-bold"
            style={{
                width: "24px",
                height: "24px",
            }}
            aria-hidden
        />
        <span>Back</span>
    </a>
</nav>

<style lang="scss">
    @import "open-props/media";

    nav {
        position: fixed;
        padding: var(--size-3);
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
</style>
