---
import { astroI18n, l, t } from "astro-i18n";
import { Icon } from "astro-icon";

astroI18n.init(Astro);
---

<nav>
    <a class="button" title={t("index.ui.back-title")} href={l("/")}>
        <Icon
            name="ph:caret-left-bold"
            style={{
                width: "24px",
                height: "24px",
            }}
            aria-hidden
        />
        <span>{t("index.ui.back")}</span>
    </a>
</nav>

<style lang="scss">
    @import "open-props/media";

    nav {
        position: fixed;
        padding: var(--size-3);
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
</style>
