---
import { Icon } from "astro-icon";
import { defaultLocale, type Locale } from "../i18n/ui";
import { useTranslatedPath, useTranslations } from "../i18n/utils";

const locale = (Astro.params.locale as Locale) ?? defaultLocale;

const t = useTranslations(locale);
const l = useTranslatedPath(locale);
---

<nav>
    <a class="button button-blur" title={t("ui.back-title")} href={l("/")}>
        <Icon name="ph:caret-left-bold" aria-hidden />
        <span>{t("ui.back")}</span>
    </a>
</nav>

<style lang="scss">
    nav {
        position: fixed;
        padding: var(--size-3);
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
</style>
