---
import type { Project } from "../../lib/types";
import ProjectCard from "./ProjectCard.astro";

export interface Props {
    projects: Project[];
}
const { projects } = Astro.props;
---

<div class="grid" role="grid">
    {
        projects.map((project: Project, i: number) => (
            <ProjectCard
                project={project}
                useCustomColour={projects.every((p) => !!p.colour)}
                key={project.slug}
            />
        ))
    }
</div>

<style lang="scss">
    @import "open-props/media";

    .grid {
        display: grid;

        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "main side-up"
            "main side-down";
        grid-gap: var(--spaces-2);
        align-items: stretch;

        :global(:first-child) {
            grid-area: main;
            --cardBg: rgb(var(--colors-purple-100));
        }
        :global(:nth-child(2)) {
            grid-area: side-up;
            --cardBg: rgb(var(--colors-green-100));
        }
        :global(:nth-child(3)) {
            grid-area: side-down;
            --cardBg: rgb(var(--colors-blue-100));
        }
    }

    @media (--md-n-below) {
        .grid {
            display: flex;
            flex-direction: column;
            justify-content: stretch;
            gap: var(--spaces-2);
        }
    }
</style>
