---
import type { Project } from "../../lib/types";
import ProjectCard from "./ProjectCard.astro";

export interface Props {
    projects: Project[];
}
const { projects } = Astro.props;
---

<div role="grid">
    {
        projects.map((project: Project, i: number) => (
            <ProjectCard
                project={project}
                useCustomColour={projects.every((p) => !!p.colour)}
                key={project.slug}
            />
        ))
    }
</div>
