---
import { Icon } from "astro-icon";
---

<ul role="list">
    <li role="listitem">
        <a
            class="button"
            title="My email address"
            href="mailto:Sebastiaan Benjamins <sebas@benjami.in>"
        >
            <Icon
                name="ph:envelope-simple-fill"
                style={{
                    width: "24px",
                    height: "24px",
                }}
                aria-hidden
            />
        </a>
    </li>
    <li role="listitem">
        <a
            class="button"
            title="My Mastodon account"
            rel="nofollow me"
            href="https://mas.to/@sebastiaan"
        >
            <Icon
                name="mdi:mastodon"
                style={{
                    width: "24px",
                    height: "24px",
                }}
                aria-hidden
            />
        </a>
    </li>
    <li role="listitem">
        <a
            class="button"
            title="My Github account"
            rel="nofollow me"
            href="https://github.com/cbasje"
        >
            <Icon
                name="ph:github-logo-fill"
                style={{
                    width: "24px",
                    height: "24px",
                }}
                aria-hidden
            />
        </a>
    </li>
    <li role="listitem">
        <a
            class="button"
            title="My LinkedIn account"
            rel="nofollow me"
            href="https://www.linkedin.com/in/sebastiaanbenjamins/"
        >
            <Icon
                name="ph:linkedin-logo-fill"
                style={{
                    width: "24px",
                    height: "24px",
                }}
                aria-hidden
            />
        </a>
    </li>
    <li role="listitem">
        <a
            class="button"
            title="My Instagram account"
            rel="nofollow me"
            href="https://instagram.com/cbasje"
        >
            <Icon
                name="ph:instagram-logo-fill"
                style={{
                    width: "24px",
                    height: "24px",
                }}
                aria-hidden
            />
        </a>
    </li>
</ul>

<style lang="scss">
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        position: relative;
        display: flex;
        align-items: center;

        font-weight: var(--font-weights-bold);
        text-transform: uppercase;
        letter-spacing: 0.05em;

        li a {
            padding-block: var(--spaces-1);
            padding-inline: var(--spaces-2);
            display: flex;
            flex-direction: row;
            gap: var(--spaces-1);
            flex-grow: 0;
            justify-content: center;
            align-items: center;
            border-radius: var(--radii-sm);
            transition: background-color 0.2s cubic-bezier(0.33, 1, 0.68, 1);

            &:hover {
                background-color: rgb(var(--colors-grey-200));
            }

            &:active {
                color: rgb(var(--colors-grey-50)) !important;
                background-color: rgb(var(--colors-grey-900)) !important;

                &:hover {
                    background-color: rgb(var(--colors-grey-900)) !important;
                }
            }
        }
    }

    @media (--lg-n-below) {
        ul {
            gap: 0;
        }
    }
</style>
