---
import MainHead from "../components/MainHead.astro";
import type { Seo } from "../content/config";
import "../styles/global.css";

export interface Props {
    seo?: Seo;
}
const { seo } = Astro.props;
---

<!doctype html>
<html lang={Astro.currentLocale}>
    <MainHead seo={seo} />

    <body>
        <div class="container">
            <slot />
        </div>
    </body>
</html>

<style>
    .container {
        width: 100%;
        height: 100%;
    }
</style>
