---
import { localizePath } from "astro-i18next";
import { Icon } from "astro-icon";
import type { ProjectColour, Seo } from "../../lib/types";
import MainLayout from "./main.astro";

export interface Props {
    colour?: ProjectColour;
    seo?: Seo;
}
const { colour, seo } = Astro.props;

const themeAccent1 = colour ? `var(--color-${colour}-5)` : undefined;
---

<MainLayout seo={seo}>
    <div>
        <a
            href={localizePath("/")}
            class="overlay"
            style={{ cursor: "initial" }}
            aria-hidden></a>

        <a href={localizePath("/")} class="icon-button" aria-label="Close">
            <Icon
                name="ph:x-bold"
                style={{
                    width: "2em",
                    height: "2em",
                }}
                aria-hidden
            />
        </a>

        <main class="content-container">
            <article>
                <slot />
            </article>
        </main>
    </div>
</MainLayout>

<script>
    import { animate } from "motion";

    animate(
        ".content-container",
        {
            transform: ["translateY(150px)", "none"],
            opacity: [0, 1],
        },
        { duration: 0.375, easing: [0.43, 0.13, 0.23, 0.96] }
    );
</script>

<style lang="scss" define:vars={{ "theme-accent-1": themeAccent1 }}>
    .overlay {
        position: fixed;
        inset: 0;
        z-index: -1;
        background-color: var(--theme-accent-1);
        opacity: 25%;
    }

    .icon-button {
        font-family: inherit;
        border-radius: 100%;
        height: 3em;
        width: 3em;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: var(--theme-text-2);
        position: fixed;
        top: 0.5em;
        right: 0.5em;
        cursor: pointer;
        pointer-events: all;
        z-index: 1;

        &:hover {
            background-color: var(--theme-accent-1);
        }
        &:focus {
            outline-offset: 2px;
            outline-color: var(--theme-accent-1);
        }
    }

    .content-container {
        background-color: var(--theme-surface-1);
        border-top-left-radius: var(--radius-3);
        border-top-right-radius: var(--radius-3);
        margin-top: 4em;
        width: 100%;
        min-height: 100vh;
        position: relative;
        overflow-y: scroll;

        // Set for animation
        transform: translateY(150px);
        opacity: 0;

        &:focus {
            outline: none;
        }

        // &:before {
        //     content: "",
        //     display: "block",
        //     position: "absolute",
        //     insetInline: 0,
        //     height: "100px",
        //     zIndex: 999,
        //     background: "linear-gradient(to bottom,#fff 0%,transparent 100%)",
        // },

        article {
            width: 100%;
            margin-inline: auto;
            padding-inline: var(--size-3);
            padding-block: calc(var(--size-8) * 2);

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: var(--size-8);

            > :global(:not(section)) {
                width: 100%;
                max-width: 1024px;
                height: auto;
            }
            > :global(section) {
                width: 100%;
                max-width: 60ch;
                height: auto;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: var(--size-5);

                > :global(*) {
                    width: 100%;
                    height: auto;
                    margin: 0;
                }
                :global(iframe) {
                    border: 1px solid rgba(0, 0, 0, 0.1);
                }
                :global(:is(img, iframe)) {
                    border-radius: var(--radius-2);
                    aspect-ratio: 3 / 2;
                    overflow: hidden;
                    object-fit: cover;
                }
            }
            :global(a) {
                font-weight: var(--font-weight-5);
                // text-decoration: underline wavy;
            }
        }
    }
</style>
