---
import { Icon } from "astro-icon";
import { fade } from "astro:transitions";
import type { Seo } from "../content/config";
import { defaultLocale, type Locale } from "../i18n/ui";
import { useTranslatedPath, useTranslations } from "../i18n/utils";
import MainLayout from "./main.astro";

const locale = (Astro.params.locale as Locale) ?? defaultLocale;
const t = useTranslations(locale);
const l = useTranslatedPath(locale);

export interface Props {
    slug: string;
    hue?: number;
    seo?: Seo;
}
const { slug, hue, seo } = Astro.props;

const EASE_IN_OUT_QUART = "cubic-bezier(0.76, 0, 0.24, 1)";
const slideAnim = {
    forwards: {
        old: [
            {
                name: "astroFadeOut",
                duration: "90ms",
                easing: EASE_IN_OUT_QUART,
                fillMode: "both",
            },
            {
                name: "slideDown",
                duration: "220ms",
                easing: EASE_IN_OUT_QUART,
                fillMode: "both",
            },
        ],
        new: [
            {
                name: "astroFadeIn",
                duration: "210ms",
                easing: EASE_IN_OUT_QUART,
                delay: "30ms",
                fillMode: "both",
            },
            {
                name: "slideUp",
                duration: "220ms",
                easing: EASE_IN_OUT_QUART,
                fillMode: "both",
            },
        ],
    },
    backwards: {
        old: [{ name: "astroFadeOut" }, { name: "slideDown" }],
        new: [{ name: "astroFadeIn" }, { name: "slideUp" }],
    },
};
---

<MainLayout seo={seo}>
    <div>
        <button
            is="back-button"
            class="overlay"
            transition:name={`accent-${slug}`}
            aria-hidden></button>

        <button
            is="back-button"
            class="button icon-button"
            aria-label={t("ui.back-title")}
        >
            <Icon name="ph:x-bold" aria-hidden />
            <span class="sr-only">{t("ui.back")}</span>
        </button>

        <script src="../../lib/button-component.ts"></script>

        <main class="content-container" transition:animate={slideAnim}>
            <article>
                <slot />
            </article>
        </main>
    </div>
</MainLayout>

<style lang="postcss" define:vars={{ "color-hue": hue ? hue:'inherit' }}>
    .overlay {
        position: fixed;
        inset: 0;
        z-index: var(--layer-1);
        border: none;
        border-radius: 0;
        text-shadow: none;
        background-color: var(--accent-1);
        opacity: 25%;
    }

    .icon-button {
        width: var(--size-8);
        height: var(--size-8);
        padding: 0;

        display: inline-flex;
        align-items: center;
        justify-content: center;

        border-radius: var(--radius-round);
        background-color: var(--accent-1);
        color: var(--text-2);

        position: fixed;
        right: var(--size-3);
        top: var(--size-3);
        z-index: var(--layer-3);

        > svg {
            width: var(--font-size-4);
            height: var(--font-size-4);
        }
    }

    .content-container {
        background-color: var(--surface-1);
        border-top-left-radius: var(--radius-3);
        border-top-right-radius: var(--radius-3);
        margin-top: var(--size-10);
        width: 100%;
        min-height: 100vh;
        position: relative;
        overflow-y: scroll;
        z-index: var(--layer-2);

        &:focus {
            outline: none;
        }

        article {
            width: 100%;
            margin-inline: auto;
            padding-inline: var(--size-3);
            padding-block: var(--size-fluid-7);

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            gap: var(--size-8);
        }
    }

    @media (--md-n-above) {
        article {
            gap: var(--size-10);
        }
    }
</style>
